<% provide(:title, "MyPage:edit") %>




<div class="edit-page-section">
  <div class="profile">
    <div class="profile-img">
      <img src="/assets/catman.png">
    </div>
    <p><%= @user.name %></p>
    <p>フォロー：３ フォロワー：４</p>
    <div class="profile-coment">
      <p>自己紹介文です。自己紹介文です。自己紹介文です。自己紹介文です。自己紹介文です。自己紹介文です。自己紹介文です。</p>
    </div>

  </div>
  
</div>


