<% provide(:title, "About") %>
<div class="about-top-section">
  <div class="about-content-text">
    <p><span style=
      "font-family: 'Chewy', cursive;
      color:yellow; font-size:46px">I'm here!</span>&nbsp;は誰でも&nbsp;
      誰とでも繋がれる&nbsp;コミュニティツールです!</p>
      <p>配信者と視聴者の関係だけでなく、<br>
      誰でも気軽に新しいコミュニティに触れられること。<br>
      をコンセプトとしています。</p>
      <p>あなたの世界がより色鮮やかに広がりを見せること<br>
      そんなあなたの為のコミュニティになるために&nbsp;<span style=
      "font-family: 'Chewy', cursive;
      color:yellow; font-size:46px">I'm here!</span>&nbsp;
      は存在しています。
    </p>
  </div>
  <div class="videochat2">
    <img src="assets/videochat.png">
  </div>
  
</div>