<% provide(:title, "Genre") %>
<%= javascript_include_tag "slider.js" %>
<body>
  


  <div class="genre-top-section">
    <div class="hero">
      <h3>Talk</h3>
      <div class="swiper" id="swipers">
        <ul class="swiper-wrapper swipes">
          <% @random.each do |event| %>
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"><%= event.event_title %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h3>Learning</h3>
      <div class="swiper" id="swipers2">
        <ul class="swiper-wrapper swipes">
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/culture.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/dance.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/exacize.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/game.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/guitergirl.png"></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h3>Game</h3>
      <div class="swiper" id="swipers3">
        <ul class="swiper-wrapper swipes">
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/culture.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/dance.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/exacize.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/game.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/guitergirl.png"></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h3>Music</h3>
      <div class="swiper" id="swipers4">
        <ul class="swiper-wrapper swipes">
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/culture.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/dance.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/exacize.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/game.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/guitergirl.png"></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h3>Culture</h3>
      <div class="swiper" id="swipers5">
        <ul class="swiper-wrapper swipes">
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/culture.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/dance.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/exacize.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/game.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/guitergirl.png"></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h3>Exercise</h3>
      <div class="swiper" id="swipers6">
        <ul class="swiper-wrapper swipes">
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/culture.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/dance.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/exacize.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/game.png"></li>
          <li class="swiper-slide" alt=""><img src="assets/guitergirl.png"></li>
        </ul>
      </div>
    </div>
    
  </div>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
