<% provide(:title, "Search") %>



<div class="search-top-section">
  <p>検索結果<%= @events.count %>件</p>
  <div class="search-container">
    <ul class=""> 
      <% @events.where(publish: true).each_with_index do |event| %>         
        <li class="swiper-slide" alt="">
          <%= link_to "/events/#{event.id}" do %>
            <%= render 'home/event_thumbnail',event: event %>
          <% end %>
      <% end %>
    </ul>
  </div> 
</div>
