@charset "UTF-8";


$green : #4b9a27;
$pink:rgb(212, 89, 159);
$ruby:rgb(236, 37, 103);
$greenfont:green;
$emerald:rgb(48, 233, 165);

html{
	/*	16px*62.5% = 10px*/
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
  margin:0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 1.6rem; /* 規定フォントサイズを16pxに設定 */
	letter-spacing: 0.1em;
  line-height: 1.6;
  padding-top: 120px;
}

img {
  width:100%;
}

h1{
  margin: 0 0 0 15px;
}

h2{
    font-weight: 500;
}
html, body{
    height: 100%;
}
ul,dl,dt,dd{
	padding: 0;
	margin: 0;
	list-style: none;
}
li{
    list-style:none;
}
a,
.loginout{
	display: block;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	opacity: 0.7;
}
.loginout:hover{
  opacity: 0.7;
}
img{
    vertical-align: bottom;
    width: 100%;
}
p {
	margin: 0;
}
.wrapper-button {
	text-align: center;
}
.wrapper-button :hover{
  opacity: 0.7;
  cursor: pointer;
}
button {
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  color: white;
  font-size: large;
  &:hover{
    opacity: 0.7;

  }
}

.edit-error{
  color:red;
  font-size: 14px;
}

.space{
  margin-right: 10px;
}


#open,
#close{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width:200px;
  border: 1px solid #CCC;
  border-radius:10px;
  text-align:center;
  padding:12px 0;
  margin:40px auto 0;
}

#mask{
  background: rgba(0,0,0,0.4);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
}

#modal{
  background: #fff;
  width: 800px;
  padding:20px;
  border-radius: 100px;
  position:absolute;
  top:63px;
  left:0;
  right:0;
  margin:0 auto;
  transition: all 0.4s;
  z-index: 2;
  opacity: 1;
  pointer-events:painted;
  display: block;
  height: 550px;
}

#modal > p{
  margin:0 0 20px;
}

#mask.hidden{
  display: none;
}

#modal.hidden{
  transform: translate(0,500px);
  opacity: 0;
  pointer-events: none;
  display: none;
}



.container{
  width:100%;
  height:100%;
  overflow: hidden;
  position:relative;

  & ul {
    list-style: none;
    margin:0;
    padding:0;
    height:100%;
    display: flex;
    transition: transform .3s;
    & li{
      padding-top: 134px;
      height:100%;
      min-width:100%;
      & .form-error{
        display:none;
      }
      & .form-error.error-message{
      display: block;
      }
      & input[type="text"]{
        padding: 1px 8px;
        font-size: 24px;
        display: block;
        margin:0 auto;
        width: 500px;
        height: 50px;
        border-radius: 10px;
        margin-bottom:16px ;
        border:1px solid black;
      }
      & input[type="password"]{
        padding: 1px 8px;
        font-size: 24px;
        display: block;
        margin:0 auto;
        width: 500px;
        height: 50px;
        border-radius: 10px;
        margin-bottom:16px ;
        border:1px solid black;
      }
      & input[type="submit"]{
        font-size: 24px;
        display:block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: $emerald;
        &:hover{
          opacity: 0.7;
        }
      }
      .signup-text{
        text-align: right;
        margin: 69px 150px 0 0;
        font-size: 20px;
        & a{
          color: $emerald;
          display: inline-block;
        }
      }
    }
    .sign-up-li{
      padding-top:89px;
      position: relative;
      & p{
        position: absolute;
        font-size: 24px;
        top: 34px;
        left: 120px;
      }
    }
  }

}

#signup-about{
  padding: 0;
  & .list-area{
    width: 518px;
    margin: 68px auto 0;
    h2{
      width: 200px;
      margin: 0;
    }
    p{
      margin: 128px 0;
      font-size: 20px;
    }
  }

}
#signup-about2{
  padding: 0;
  & .list-area2{
    width: 518px;
    margin: 68px auto 0;
    h2{
      width: 200px;
      margin: 0;
    }
    p{
      margin: 22px 0;
      font-size: 18px;
    }
  }

}
#signup-about3{
  padding: 0;
  position: relative;
  & .list-area3{
    width: 518px;
    margin: 68px auto 0;
    h2{
      width: 200px;
      margin: 0%;
    }
    p{
      margin: 34px 0;
      font-size: 18px;
    }
    p:nth-child(3){
      margin: 67px 0;
    }
  }
  & .btn-go{
    position:absolute;
    top: 66%;
    right: 91px;
    color: black;
    border-radius: 16px;
    width:135px;
    height: 60px;
    font-family: 'Chewy', cursive, sans-serif;
    border: solid 1px black;
    background-color: $emerald;
  }

}





#prev,
#next{
  position:absolute;
  top:80%;
  transform: translateY(-50%);
  border:none;
  background: transparent;
  color:black;
  font-size:16px;
  cursor: pointer;
  margin: 0;
  width: auto;
  height: auto;
}

#prev:hover,
#next:hover{
  opacity:.8;
}



#prev{
  left:50px;
}

#next{
  right:50px;
}


.hidden{
  display:none;

}

#follower{
  position: relative;
}

.follow-modal{
  position: absolute;
  top:10%;
  width:250px;
  height:150px;
  border-radius: 60px;
  padding: 40px;
  border:solid 1px black;
  background: #fff;
  z-index: 20;
  & p{
    margin-bottom: 30px;
  }
  & .unlock-btn{
    border: solid 1px black;
    width:150px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto 20px;
    color:black;
  }
 
}

#emask{
  background: rgba(0,0,0,0.4);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 20;
  & .follow-modal{
    // position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    .modal-btn{
      border: solid 1px black;
      width:150px;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin: 0 auto 20px;
      color:black;
    }
  }
}



.event-modal{
  background: #fff;
  width: 600px;
  padding: 20px;
  position: absolute;
  top: 66px;
  right: 6%;
  margin: 0 auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
  opacity: 1;
  pointer-events: painted;
  display: block;
  height: 633px;
  border: 1px solid black;
}

.event-modal.hidden{
  transform: translate(0,500px);
  opacity: 0;
  pointer-events: none;
  display: none;
}

#event-close{
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width:200px;
  border: 1px solid #CCC;
  border-radius:10px;
  text-align:center;
  padding:12px 0;
  margin:40px auto 0;
}

.event_container {
  margin: 35px auto 0;
  width: 90%;
  .err_text{
    color: red;
    padding-left: 90px;
    margin: 0;
    line-height: 14px;
    font-size: 14px;
  }
  & div {
    padding: 2px 3px;
    margin-bottom: 5px;
    & select {
      padding: 2px;
    }
    & div {
      .control-label{
        margin-left: 143px;
        width:auto;
      }
      & input{
        padding:2px;
      }
    }
    & label {
      width:80px;
    }
    & :first-child{
     display: inline-block; 
    }
    & input[type="text"] {
      width: 80%;
      padding:5px 4px;
    }
    
    & textarea{
      vertical-align: top;
      padding:5px 4px;
      width: 80%;
    }
    & #people {
      width: 45px;
    }
    & span{
      font-size: 12px;
    }
  }
  & input[type="submit"]{
    width: 105px;
    height: 42px;
    position: absolute;
    top:25px;
    right: 63px;
    background-color: $emerald;
    border-radius:10px ;
    border-color: #999;
  }
}



#confi-mask{
  background: rgba(0,0,0,0.4);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 25;
}

#confi-modal{
  background: #fff;
  width: 800px;
  padding:20px;
  border-radius: 100px;
  position:absolute;
  top:63px;
  left:0;
  right:0;
  margin:0 auto;
  transition: all 0.4s;
  z-index: 30;
  opacity: 1;
  pointer-events:painted;
  display: block;
  height: 602px;
  & #event_create{
    position: absolute;
    right: 121px;
    top: 27px;
    width: 136px;
    background-color:$ruby;
  }
}
.modal-body{
  margin: 30px 50px;
  overflow-y: scroll;
  font-size: 18px;
  height: 400px;
  background: #80808014;
  & div{
    display: flex;
    & .text-muted{
      width:15%;
    }
    & .px-2{
      width:80%;
      overflow-wrap: anywhere;
      & #modalTime{
        margin-left: 20px;
      }
    }
  }
}



#confi-modal > p{
  margin:0 0 20px;
}

#confi-mask.hidden{
  display: none;
}

#confi-modal.hidden{
  transform: translate(0,500px);
  opacity: 0;
  pointer-events: none;
  display: none;
}

.confi-container{
  width: 80%;
  margin: 0 auto;
  & p{
    font-size:22px;
  }
}

#confi-close{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width:200px;
  border: 1px solid #CCC;
  border-radius:10px;
  text-align:center;
  padding:12px 0;
  margin:40px auto 0;
}



header{
  position: fixed;
  top:0;
  left: 0;
  z-index: 20;
  width: 100%;



  .status_bar{

    height: 60px;
    background-color: $green;
    position: relative;
    border-bottom:solid 1px black ;
    .search_container{
      background-color: white;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid #999;
      display: block;
      padding: 3px 10px;
      border-radius: 20px;
      height: 2.3em;
      width: 260px;
      overflow: hidden;
    }
    .search_container input[type="text"]{
      border: none;
      height: 2.0em;
    }
    .search_container input[type="text"]:focus {
      outline: 0;
    }
    .search_container input[type="submit"]{
      cursor: pointer;
      font-family: FontAwesome;
      font-size: 1.3em;
      border: none;
      background: none;
      color: $green;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      right: 0;
      top: -10px;
      outline : none;
      &:hover{
        opacity: 0.7;
      }
    }
    .status_bar_right{
      height: 60px;
      margin-left:auto;
      width: 340px;
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      & span{
        margin-left: 30px;
        line-height: 60px;
        & .loginout{
          color: #ffffff;
        }
      }
      .acount-logo {
        width: 40px;
        height: 40px;
      }
      ul{
        text-align: left;
        margin-left: 30px;
        
        display: flex;
        li {
          width: 26px;
          margin-right: 9px;
          &:last-child{
            margin-right: 30px;
          }
          
          
          
          
        }
      }
    }
    
    
  }
  
  .global-menu{
    border-bottom:solid 1px black;
    background-color: white;
    display: flex;
    height: 60px;
    justify-content: space-between;
    .main-logo{
      width: 200px;
      & a:hover{
        opacity: 1;
      }
    }
    ul {
      margin-right: 30px;
      display: flex;
      li {
        height: 60px;
        width: 157px;
        line-height: 60px;
        border-left: 1px solid black;
        text-align: center;
      }
      & .hov-menu{
        border-right:solid 1px black ;
        height: 100%;
        & ul{
          flex-direction: column;
          display: none;
          & li{
            border-left:none ;
            background-color: white;
            & a{
              border-top:1px solid black;
            }
          }
          &:last-child{
            border-bottom:1px solid black ;
          }
        }
        &:hover ul{
          display: block;
          width: 100%;
          & :last-child a:hover{
            border-bottom: 1px solid black ;

          }
        }
      }
      & a{
        color: black;
        
      }
      & a:hover{
        background-color: $pink;
        opacity: 1;
      }
    }
  }
}
#signup-btn{
  border-right:1px solid black;
}





.top-section{
  background-color: $green;
  position: relative;
  height: 610px;
  .content-text{
    font-size: 40px;
    position: absolute;
    top: 196px;
    max-width: 1358px;
    left: 11.63%;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor:default;
  }
}

.top-img{
  position: absolute;
  top: 30px;
  right:30px;
  left: auto;
  width: 537px;
}

.anime-section{
  max-width: 1400px;
  height: 900px;
  position: relative;
  margin-top: 50px;
  margin: 0 auto;
  .lesson{
    width: 241px;
    position: absolute;
    top: 17.11%;
    left: 14.795%;
  }
  .catmovie{
    width: 433px;
    position: absolute;
    top: 32.66%;
    left: 3.566%;
  }
  .guitergirl{
    width: 336px;
    position: absolute;
    top: 17.22%;
    left: 25.493%;
  }
  .videochat{
    width: 276px;
    position: absolute;
    top: 44.44%;
    left: 31.562%;
  }
  .pc-man{
    width: 586px;
    position: absolute;
    top: 5.55%;
    right: 13.125%;
  }
  .dance{
    width: 229px;
    position: absolute;
    top: 18.88%;
    right: 2.4279%;
    transform: rotate(-5deg);
  }
  .exacize{
    width: 259px;
    position: absolute;
    top: 44.44%;
    right: 2.0485%;
  }
  .load{
    width: 180px;
    position: absolute;
    top: 57.77%;
    right: 36.494%;
    &.appear {
      animation: rolling;
      animation-duration: 1.2s;
      animation-fill-mode:forwards;
      animation-timing-function: linear;
      animation-delay:1.4s ;

    }
    
  }
  
  
  
  // とびだすアニメ
  
  & ul{
    & li {
      opacity: 0;
    }
    & li.appear:nth-child(-n+7) {
      animation: pop-bounce;
      animation-duration: 1s;
      animation-fill-mode:forwards;
      animation-timing-function: ease;
      &:nth-child(3){
        animation-delay:.4s ;
      }
      &:nth-child(5){
        animation-delay:.8s ;
      }
    }
  }
}
  @keyframes rolling {
    0%{
      transform: translate(400px,-100px) rotate(0);
    }
    100%{
      transform: translate(0px,0px ) rotate(-715deg);;
      opacity: 1;
  
    }
  }
  
  @keyframes pop-bounce {
    0%{
      transform:translateY(150px);
    }
    50%{
    opacity: .5;
    transform:translateY(-30px);
  }
  100%{
    opacity: 1;
    transform:translateY(0);
  }
}



.play{
  position: absolute;
  top: 133px;
  transform: rotate(15deg);
  left: 33px;
  color:black;
}







.pick-section{
  color:white;
  font-size: 30px;
  text-align: center;
  height: 900px;
  display: grid;
  grid-template: 
      "pickevent pickeventright" 0.8fr
      "tbody1left tbody1right" 2fr
      "tbody2left tbody2right" 2fr
      "tbody3left tbody3right" 2fr
      "btnleft    btnright"    1fr
      /50% 50%;
  
  & img{
    object-position: 50% 20%;
    width: 200px;
    height: 100px;
    object-fit: cover;
  }
  & dd{
    margin-top: 20px;
  }
  & a:any-link{
    color: $greenfont;
  }
  
}
.pick-event{
  border: 1px solid black;
  grid-area: pickevent;
  background: $ruby;
  position: relative;
  & p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
}
.pick-event-right{
  border: 1px solid black;
  grid-area: pickeventright;
  background: $pink;
  position: relative;
  & p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
}
.t-body1-left{
  border: 1px solid black;
  grid-area: tbody1left;
  color: $greenfont;
  font-weight: bold;
}
.t-body1-right{
  border: 1px solid black;
  grid-area: tbody1right;
  color: $greenfont;
  font-weight: bold;
}
.t-body2-left{
  border: 1px solid black;
  grid-area: tbody2left;
  color: $greenfont;
  font-weight: bold;
}
.t-body2-right{
  border: 1px solid black;
  grid-area: tbody2right;
  color: $greenfont;
  font-weight: bold;
}
.t-body3-left{
  border: 1px solid black;
  grid-area: tbody3left;
  color: $greenfont;
  font-weight: bold;
}
.t-body3-right{
  border: 1px solid black;
  grid-area: tbody3right;
  color: $greenfont;
  font-weight: bold;
}
.btn-left{
  grid-area: btnleft;
  margin: 60px 0;
  button{
    background: $ruby;
  }
  
}
.btn-right{
  grid-area: btnright;
  margin: 60px 0;
  button{
    background: $pink;
  }
}


// searchページ
.search-top-section{
  padding-top:20px;
  background-color: $green;
  position: relative;
  height: 2000px;
  p {
    margin-left: 20px;
  }
  .search-container{
    
    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & li {
        width :30%;
        text-align: center;
        margin: 0 5px 10px 5px;
        max-height: 230px;
        max-width: 230px;
        & img {
          max-height: 170px;
          object-fit: contain;
        }
      }
    }
  }
}

// aboutページ

.about-top-section{
  background-color: $green;
  position: relative;
  height: 800px;
  .about-content-text{
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: default;
    width: 80%;

    transform: translateX(-50%);
    & p{
      margin-bottom: 20px;
    }
  }
  .videochat2{
    width:220px;
    position: absolute;
    top: 71%;
    left: 30%;
  }
}

// genreページ

.genre-top-section{
  padding-top:20px;
  background-color: $green;
  position: relative;
  h3{
    margin: 20px 0 0 0;
  }
  li{
    height: 100%;
    text-align: center;
    & a{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  & .g-page-title{
    margin:0 0 10px 30px;
  }
}


.hero{
  width: 95%;
  overflow:hidden;
  margin-left:auto;
}


.swiper {
  overflow: visible !important;
}

.swiper-slide{
  overflow: hidden;
  border-radius: 20px;

  & > img{
    width:100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    transition: transform 1.9s ease;
    position: relative;
  }

  &::after{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,61,125,0.1);
    z-index: -1;
  }

  &-active{
    & > img {
      transform: none;
    }
  }
}

.my-page-section{
  display: flex;
  min-height: 610px;
}

// editページ


.edit-page-section{
  height: 750px;
  & .profile{
    & .profile-img{
      margin: 20px auto 10px;
      // display: flex;
      // align-items: flex-end;
      width:245px;
      & img{
        border-radius: 5px;
        // width:50%;
      }
      & .img-btn{
        // width:50%;
        background-color: $emerald;
        margin-top:20px;
        height: 72px;
        border-radius: 5px;
        font-size:14px;
        line-height:33px;
        cursor: pointer;
        border-color: lightgray;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    & #edit-btn{
      margin: 0 auto;
      width: 100px;
      font-size: 14px;
      background-color: green;
      height: 50px;
      border-radius:22px;
    }
  }
}
.profile{
  text-align: center;
  // outline: solid;
  flex:.8;
  flex-direction: column;
  // justify-content: space-around;
  display: flex;
  & .profile-img{
    padding-top: 20px;
    width: 245px;
    margin: 50px auto 10px;
    min-height:190px;
    border-radius: 5px;
  }
  & div{
    // display: flex;

    & p{
      margin-bottom:10px;
      margin-left:60px;
      display: inline-block;
    }
    & a{
      display: inline-block;
    }
    .follow_viewer{
      font-size: 16px;
      width: 58px;
      height: 27px;
      border-radius: 10px;
      cursor: pointer;
      background-color: $ruby;
      
      
    }
  }
  & .profile-coment{
    overflow-wrap: anywhere;
    width:340px;
    margin: 0 auto 20px;
    
    & .profile-comment-text{
      text-align: left;
    }
    
  }
  .edit-btn{
    margin: 0 auto;
    width: 100px;
    font-size: 14px;
    background-color: green;
    height: 50px;
    border-radius: 22px;
    border:none;
    color: white;
    &:hover{
      opacity: 0.7;
    }
  }
}

.event-display{
  flex:1;
}
// タブメニュー

.event-container{
  margin: 60px auto 0;
  width:600px;
  & .tab-menu{
    display: flex;
    & li {
      flex: 1;
      & a{
      text-align: center;
      padding: 8px 0;
      color:#333;
      border-radius: 4px 4px 0 0;
        &.active {
        background: #CCC;
        }
        &:not(.active):hover{
        opacity: 0.5;
        transition: 0.4s;
        } 
      }
    }

  }
}

.follower{
  background-color:white;
  border:solid 1px black;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  padding:5px 10px;
  position: relative;
  & p{
    display: inline-block;
    line-height: 50px;
    color:black;
  }
  a {
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    & p:first-child{
      width: 60%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  img{
    width:55px;
    display: block;
  }
  & .follow-btn{
    border:solid 1px black;
    border-radius: 15px;
    line-height: 30px;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right: 40px;
    padding: 2px;
    color:black;
    cursor: pointer;
  }
}
.self-event{
  background-color: yellow;
}
.self-stand-event{
  background-color: gainsboro;
}


.content.active{
  display: block;
  min-height: 150px;
  padding: 12px;
  border-top:2px solid #999 ;
}

.content {
  display: none;
}
    

// イベントページ
.event-title-bar{
  display: flex;
  justify-content: space-between;
  height: 180px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  p {
    padding: 20px 0 0 0;
    color: grey;
  }
  
  h2{
    margin: 0;
    padding: 0 0 20px 0;
  }
  button{
    width: 100px;
    border-radius: 18px;
    height: 44px;
    border: 1px solid black;
    color:black;
  }
  button.btn-edit{
    background-color:yellow;
    margin-right: 30px;
  }
  button.btn-pub{
    background-color: orange;
    
  }
  button.btn-res{
    background-color: orange;
    & a{
      color:black;
    }
  
   
  }
  
  .event-title-right{
    margin-right: 60px ;
    display: flex;
    align-items: center;
    button.btn-tog{
      background-color: $pink;
      a {
        color:black;
        font-size: 14px;
      }
      a.schedule-del-btn{
        color: antiquewhite;
      }
    }
  }

}
#fixed-navbar{
  width:100vw;
  background-color: white;
  position: fixed;
  z-index: 10;
  top:122px;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  .event-navbar{
    max-width: 1100px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    h2{
      margin: 0;
    }
    p{
      color:grey;
    }
    .edit-link{
      padding:17px 0;
      margin-right: 60px;

      a{
        display: inline-block;
      }
      & button.btn-edit{
        background-color:yellow;
        margin-right: 30px;
    }
    button{
      width: 87px;
      border-radius: 8px;
      height: 33px;
      border: 1px solid black;
      color:black;
     
  
    }
    
   
    
    }
    button.btn-pub{
      background-color: orange;
     
    }
    button.btn-res{
      background-color: orange;
      & a{
        color:black;
        margin: 0;
      }
    }
    button.btn-tog{
      background-color: $pink;
      padding: 0;
      a {
        color:black;
        font-size: 10px;
      }
      a.schedule-del-btn{
        color: antiquewhite;
      }
    }
  } 
}
#fixed-navbar.varopen{
  opacity: 1;
  box-shadow:0 1px 3px 0 gray ;
  pointer-events: visible;
}
.event-user-plofile{
  display: flex;
  
  & p {
    line-height: 50px;
    padding: 0 0 0 20px;
  }
  .unlock-btn,
  .follow-btn{
    cursor: pointer;
    line-height: 50px;
    margin-left: 60px;
    background: goldenrod;
    color: white;
    border-radius: 30px;
    padding: 0 10px
  }
  .follow-btn:hover{
    opacity: .7;
  }
}
.event-plofile-img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
.event-contents-section{
  border-top:solid 1px rgb(116, 117, 115);
  background-color: rgba(239, 241, 239, 0.663);
}
.event-top-section{
  margin: 0 auto;
  max-width: 1100px;
  // border: 30px solid $green;
  display: flex;
  padding-top: 40px;
  position: relative;
  .event-content-left{
    flex:1.7;
    .event-image{
      height: 200px;
      display: block;
      width: 500px;
      & img{
      height:200px;
      object-fit: cover;
      }
    }
    .event-title{
      width: 80%;
      border-bottom:2px solid black ;
      padding-left: 5px;
      word-break: break-all;

      h2{
        margin: 0;
      }
      .event-title-form{
        line-height: 32px;
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
      }
    }
    .event-text{
      
      padding:5px;
      width: 80%;
      overflow-wrap: break-word;
      margin-bottom:80px;
      .event-content-text{
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
        
        
      }
    }
  }
  #event-nav-right{
    
    flex:1;
    position: relative;
    width: 360px;
    // outline: solid;
  }
  .event-content-right{
    
    position: sticky;
    top:200px;
    .event-user-block{
      background-color: white;
      width: 330px;
      margin-bottom: 20px;
      border-radius: 8px;
      padding: 30px;
      & .event-user-plofile {
      }
    }
    .event-data-block{
      background-color: white;
      width: 330px;
      border-radius: 8px;
      padding: 30px;
      p{
        color: gray;
      }
      p.genre_name{
        margin-right: 20px;
        display: inline-block;
        font-size: .8em;
      }
      p.feel_name{
        padding: 0;
        display: inline-block;
        font-size: .8em;
      }
    }
    span {
      position: absolute;
      font-size: 14px;
      color: grey;
      left:50%;
      transform: translateX(-50%);
    }
    .event-thumbnail{
      width: 300px;
      margin: 20px auto 0;
      height: 290px;
      border: 2px solid grey;
      border-radius: 6px;
      overflow: hidden;
      .event-thumb-image{
        padding: 10px;
        img{
          object-fit: cover;
          height: 116px;
          width: 254px;
          display: block;
          margin: 0 auto;
        }
      }
      .event-thumb-text{
        padding:0 20px;
        h3{
          margin:0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        p {
          overflow: hidden;
          overflow-wrap: break-word;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }  
      }
      .event-edit-image{
        padding: 10px;
        & img{
          display: block;
          margin: 0 auto;
        }
      }
    }
    input[type="file"]{
      position: absolute;
      left: 50%;
      transform: translateX(-25%)
    }
    
  }
}

.event-body-section{
  // position: relative;
  width:1100px;
  margin:0 auto;
  border-top: 2px solid rgb(193, 191, 187);
  display: flex;
  button{
    margin-left: auto;
    display: block;
    background-color: goldenrod;
  }
  
  .schedule-section{
    margin-bottom: 26px;
    flex: 1.7;
    .scheduling_users{
      display: flex;
      flex-wrap: wrap;
      .scheduling_user{
        width: 158px;
        background: white;
        border-radius: 15px;
        margin-right: 8px;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 10px;
        img{
          width: 90px;
          border-radius: 15px;
          margin-bottom: 10px;
        }
        p{
          margin-bottom: 10px;
        }
      }
      
    }
  }
  .event-operation{
    flex: 1;
  }

}



#event-delete-modal{
  width: 290px;
  padding: 39px;
  border-radius: 50px;
  position:absolute;
  z-index: 30;
  height: 178px;
  background: #fff;
  left:50%;
  top:-110px;
  transform:translateX(-50%);
  p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  button{
    margin: 0 auto;
    width: 151px;
    height: 50px;
  }
  button#delete-modal-exit{
    margin-top: 10px;
  }
}      
#delete-modal-mask{
  background: rgba(0,0,0,0.4);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 25;
}  
    
      



// フッター
footer{
  height: 431px;
  background: $green;
  text-align: center;
  padding: 10px;
  & :first-child{
    margin-top: 100px;
    font-size:50px;
  }
  & .copy-write{
    margin-top: 100px;
  }
}